@import "tailwindcss";

:root {
  margin: 0;
  padding: 0;
}

body {
  /* background: white; */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  padding-inline: 40px;
  /* display: flex;
  justify-content: center; */
}

@media screen and (max-width: 600px) {
  body {
    padding-inline: 25px;
  }
}
