@import "./fonts.css";
@import "tailwindcss";

@theme {
  --font-iranYekan-1100: "iranYekan-1100";
  --font-iranYekan-1000: "iranYekan-1000";
  --font-iranYekan-900: "iranYekan-900";
  --font-iranYekan-800: "iranYekan-800";
  --font-iranYekan-700: "iranYekan-700";
  --font-iranYekan-600: "iranYekan-600";
  --font-iranYekan-500: "iranYekan-500";
  --font-iranYekan-400: "iranYekan-400";
  --font-iranYekan-300: "iranYekan-300";
  --font-iranYekan-200: "iranYekan-200";
  --font-iranYekan-100: "iranYekan-100";
}

:root {
  margin: 0;
  padding: 0;
}

body {
  /* background: white; */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* display: flex;
  justify-content: center; */
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
}

.wrapper-pad {
  padding-inline: 40px;
}

@media screen and (max-width: 600px) {
  .wrapper-pad {
    padding-inline: 25px;
  }
}
